.background {
  viewport-fill: black;

}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 100;
  text-anchor: middle;
  x: 50%;
  y: 58%;
  fill:white;

}

#myLocation{
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%;
  fill: white;
}
